* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Smythe", sans-serif;
  background-color: #38bdf8;
  display: flex;
  flex-direction: column;
}

.header-container,
.main-container {
  width: 600px;
  margin: 0 auto;
}

.header-container {
  flex-shrink: 0;
  position: relative;
  color: white;
  height: 167px;
  font-weight: 400;
  padding: 46px;
}

.main-container {
  flex-grow: 1;
  padding: 67px 46px 53px;
  background-color: #fff;
}

.header-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 600px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  line-height: 24px;
}

h1,
.header-container p {
  margin: 0;
}

.header-container p {
  line-height: 14px;
  margin-top: 20px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 45px;
  background-color: #fff;
}

.menu-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: 140px;
  border-bottom: 1px solid #d2d2d2;
}

.item-add-btn {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  color: #3c3c3c;
  width: 50px;
  height: 50px;
  margin-left: auto;
  background: transparent;
  border-radius: 50%;
  border: 1.5px solid #dedede;
  cursor: pointer;
}

.item-add-btn:hover {
  border: 2px solid #34d399;
}

.item-add-btn:focus {
  outline: none;
  border: 2px solid #34d399;
}

.item-add-btn:active {
  border: 2.5px solid #059669;
}

.item-add-btn span {
  position: absolute;
  top: 22%;
  left: 30%;
}

.item-name {
  font-size: 28px;
  line-height: 16.8px;
  font-weight: normal;
}

.item-ingredients {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.item-detail h2,
.item-detail p {
  margin: 0;
}

.item-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.item-img {
  height: 80px;
  width: 80px;
}

/* CHECKOUT SECTION */

/* LAYOUT (CHECKOUT SECTION) */

.checkout-section {
  display: none;
  flex-direction: column;
  margin-top: 45px;
  text-align: center;
  background-color: #fff;
}

.checkout-details {
  margin-top: 64px;
  padding-bottom: 30px;
  border-bottom: 2px solid #393333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}

.checkout-item {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.checkout-total {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* TYPOGRAPHY (CHECKOUT SECTION) */

.checkout-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 16.8px;
  margin: 0;
}

.checkout-item-name,
.checkout-item-price,
.checkout-item-quantity {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 16.8px;
}

.checkout-item-name,
.checkout-total-title {
  font-size: 28px;
}

.checkout-item-quantity,
.checkout-item-price {
  font-size: 20px;
}

.checkout-item-price {
  margin-left: auto;
}

.checkout-total-price,
.checkout-total-title {
  margin: 14px 0 0 0;
  padding: 0;
  line-height: 24px;
  font-weight: 400;
}

.checkout-total-price {
  margin-left: auto;
  font-size: 20px;
}

/* BUTTONS (CHECKOUT SECTION) */

.checkout-remove-btn {
  background-color: #ffffff;
  padding: 5px 0 0 0;
  border: none;
  cursor: pointer;
  color: #bbbbbb;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
}

.checkout-remove-btn:hover {
  color: #34d399;
}

.checkout-remove-btn:focus {
  outline: none;
  color: #34d399;
}

.checkout-remove-btn:active {
  color: #059669;
}

.checkout-order-btn {
  cursor: pointer;
  margin-top: 53px;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 60px;
  border-radius: 3px;
  border: none;
  color: #fff;
  background-color: #34d399;
}

.checkout-order-btn:focus,
.checkout-order-btn:hover {
  background-color: #10b981;
}

.checkout-order-btn:focus {
  outline: none;
}

.checkout-order-btn:active {
  background-color: #059669;
}

/* PAYMENT FORM SECTION */

.payment-section {
  /* set display to flex */
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 524px;
  height: 515px;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  z-index: 11;
  box-shadow: 0 0 25px black;
}

.payment-title {
  font-family: Verdana, sans-serif;
  font-weight: 700;
  margin: 0;
  font: 24px;
  line-height: 26px;
}

.payment-form {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  gap: 24px;
}

.payment-form input {
  height: 71px;
  border: 1px solid #757575;
  padding: 13px 26px;
  border-radius: 4px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #1f2937;
}

.payment-form input::placeholder {
  color: #d1d5db;
}

.payment-form-btn {
  width: 100%;
  height: 70px;
  cursor: pointer;
  background-color: #34d399;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: Verdana, sans-serif;
  font-weight: 700;
}

.payment-form-btn:focus,
.payment-form-btn:hover {
  background-color: #10b981;
}

.payment-form-btn:focus {
  outline: none;
}

.payment-form-btn:active {
  background-color: #059669;
}

.payment-close-btn {
  background-color: #fff;
  border: 1.5px solid #dedede;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  color: #3c3c3c;
  padding: 0 0 0 2px;
}

.payment-close-btn:hover,
.payment-close-btn:focus {
  border: 2px solid #34d399;
}

.payment-close-btn:focus {
  outline: none;
}

.payment-close-btn:active {
  border: 2.5px solid #059669;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Hidden by default */
  z-index: 10; /* Ensure it is above other content */
}

.order-placed {
  margin-top: 45px;
  height: 120px;
  background-color: #ecfdf5;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.order-placed p {
  margin: 0;
  font-size: 32px;
  line-height: 34px;
  color: #065f46;
  font-weight: 400;
}
